:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@import url("./xy-theme.css");

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  overflow-y: scroll;
  box-shadow: -10px 10px 15px #0000001f;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  overflow-x: hidden;
  margin-left: -20px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: grab;
  background-color: #8080803a;
}

.dndflow .dndnode:hover {
  background-color: rgba(128, 128, 128, 0.426);
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.floating-sidebar {
  position: absolute;
  top: 2.5%;
  left: 0;
  width: 300px;
  height: 90%;
  background-color: white;
  box-shadow: 2px 0 5px #00000041;
  padding: 20px;
  z-index: 10;
  overflow-x: hidden;
  border-radius: 0px 10px 10px 0px;
  animation: floatingSidebar 0.5s ease-in-out;
}

.floating-sidebar button {
  font-size: 2em;
  margin-left: 80%;
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: #7e7e7e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes floatingSidebar {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}
